
.tab-pane .row {
    padding-top: 2em;
    padding-bottom: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #375A7F;
}
body {
    background: #ECECEC;;
}
/*-- header --*/
.header {
    padding: 1em 0;
	border-top: 3px solid #375A7F;
    background:#212121;
}
.fc_logo{
	float:left;
}
.fc_logo a{
	display:block;
	text-decoration:none;
}
.fc_logo a h1{
	font-size: 2.8em;
    color: white;
    text-transform: uppercase;
    padding-right: 1.67em;
    font-weight: 900;
	padding-bottom: .3em;
}
.fc_logo a h1 span{
	color: #FF8D1B;
    font-size: .3em;
    display: block;
    font-weight: 300;
    letter-spacing: 5px;
    text-align: right;
    line-height: 0;
}
.fc_sign_in_register{
	float: right;
    margin-top:1em;
}
.fc_sign_in_register ul li a{
	color: #fff;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    background: #375A7F;
    text-align: center;
    padding: 6px 30px;
    font-weight: bold;
}
.fc_sign_in_register ul li a:focus{
	outline:none;
}
.fc_sign_in_register ul li a:hover{
	background:#1B2D3F;
}
.fc_sign_in_register ul li{
	display:inline-block;
	color:white;
	font-size:1em;
}
.fc_sign_in_register ul li i,.fc_sign_in_register ul li:first-child{
	padding-right:1em;
}
/*-- //header --*/

/* Form Module */
.form-module {
    position: relative;
    background: #ffffff;
    max-width: 400px;
    width: 100%;
    border-top: 5px solid #375A7F;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    margin:1em auto;
}
.form-module .toggle {
  cursor: pointer;
  position: absolute;
  top: -0;
  right: -0;
  background:#375A7F;
  width: 30px;
  height: 30px;
  margin: -5px 0 0;
  color: #ffffff;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
}
.form-module .toggle .tooltip {
    position: absolute;
    top: 5px;
    right: -75px;
    display: block;
    background: rgba(0, 0, 0, 0.6);
    width: auto;
    padding: 5px;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    opacity: 1;
    font-family: 'Ubuntu', sans-serif !important;
}
.form-module .toggle .tooltip:before {
  content: '';
  position: absolute;
  top: 5px;
  left: -5px;
  display: block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid rgba(0, 0, 0, 0.6);
}
.form-module .form {
  display: none;
  padding: 30px;
}
.form-module .form:nth-child(2) {
  display: block;
}
.form-module h3 {
    margin: 0 0 1.5em;
    color: #212121;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1;
}
.form-module input[type="text"],.form-module input[type="password"],.form-module input[type="email"] {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid #d9d9d9;
  margin: 0 0 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-weight: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size:14px;
}
.form-module input[type="text"]:focus,.form-module input[type="password"]:focus,.form-module input[type="email"]:focus {
  border:1px solid #C7D0F5;
  color: #333333;
}
.form-module input[type="submit"] {
    background: #919191;
    width: 100%;
    border: 0;
    padding: 10px 15px;
    color: #ffffff;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    outline:none;
}
.form-module input[type="submit"]:hover {
  background:#1B2D3F;
}
.form-module .cta {
    background: #343434;
    width: 100%;
    padding: 15px 40px;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
}
.form-module .cta a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}
.modal-header {
    text-align: center;
    font-size: 2em;
    color: white;
}
.modal-content{
    z-index:9999;
}
/*-- //login --*/

/*-- nav --*/
.navbar-default {
    background: none;
    border: none;
}
.navbar {
    margin-bottom: 0;
}
.navbar-left {
    float: none !important;
}
.navbar-right {
    float: none !important;
    margin-right: 0;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus,.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #212121;
}
.navbar-collapse {
    padding: 0;
}
.movies_nav {
    background: #375A7F;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    text-transform: uppercase;
}
.navbar-nav > li {
    float: left;
    text-align: center;
}
.w3_home_act{
    border-left: 1px dotted #fff;
}
.navbar-nav {
    float: none;
    margin: 0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #212121;
}
ul.nav.navbar-nav li.active {
    border-right: none;
}
ul.dropdown-menu.multi-column ul li{
    display:block;
    margin-bottom:.5em;
}
ul.dropdown-menu.multi-column ul li a{
    color:#212121;
}
ul.dropdown-menu.multi-column {
    width: 400px;
    left: 0;
    padding: 1em;
}
ul.dropdown-menu.multi-column ul li a:hover{
    color:#FF8D1B;
}
/*-- //nav --*/

/*-- Carousel --*/

#owl-fc-carousel .item img{
  display: block;
  width: 100%;
  height: auto;
}

/*-- //Carousel --*/


/*-- general --*/
.general,.Latest-tv-series{
    padding: 3em 0;
}
.w3_latest_text {
}
/*-- //general --*/

.tab-content > .active {
    display: block;
    visibility: visible;
}
.ribben {
        left: 13% !important;
    }



/*-- Book ticket */

#QuickFilter {
    padding: 10px 0px 10px 0px;
    background-color: #375A7F;
}


/*-- //Book ticket */



/*-- footer --*/
.footer{
    background:#212121;
    padding:4em 0;
}
.w3ls_footer_grid_left1{
    position:relative;
}
.w3ls_footer_grid_left1 h2{
    font-size: 2em;
    color:#fff;
    text-transform:uppercase;
    font-style: normal;
    margin-bottom:.5em;
}
.w3ls_footer_grid_left1_pos{
    width:80%;
    border:1px solid #fff;
    padding:10px;
}
.w3ls_footer_grid_left1_pos input[type="email"]{
    outline: none;
    padding: 10px 10px;
    font-size: 14px;
    color: #999;
    width: 74.1%;
    background: #fff;
    border: none;
}
.w3ls_footer_grid_left1_pos input[type="submit"]{
    outline: none;
    width: 25%;
    background:#375A7F;
    font-size:14px;
    text-transform:uppercase;
    color:#fff;
    border: none;
    padding:10px 0;
}
.w3ls_footer_grid_left1_pos input[type="submit"]:hover{
    background:#1B2D3F;
}
.w3ls_footer_grid_right,.w3ls_footer_grid1_right {
    text-align: right;
}
.w3ls_footer_grid{
    padding-bottom:2em;
    border-bottom:1px solid #999;
    margin-bottom:2em;
}
.w3ls_footer_grid1_left p{
    color:#999;
    line-height:1.8em;
}
.w3ls_footer_grid1_left p a{
    color:#fff;
    text-decoration:none;
}
.w3ls_footer_grid1_left p a:hover{
    color:#6C9BCB;
}
.w3ls_footer_grid1_right ul li{
    display:inline-block;
    margin-left: 1em;
}
.w3ls_footer_grid1_right ul li a{
    color:#fff;
    text-decoration:none;
    text-transform:uppercase;
}
.w3ls_footer_grid1_right ul li a:hover{
    color:#FF8D1B;
}
.w3ls_footer_grid_right a{
    display: block;
    text-decoration: none;
    width: 28%;
    margin-left: 19em;
}
.w3ls_footer_grid_right a h2{
    font-size: 2.8em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    padding-bottom: .3em;
}
.w3ls_footer_grid_right a h2 span{
    color: #FF8D1B;
    font-size: .3em;
    display: block;
    font-weight: 300;
    letter-spacing: 5px;
    text-align: right;
    line-height: 0;
    margin-left: 11.5em;
}
.w3ls_footer_grid_right {
    margin-top: 2em;
}
/*-- //footer --*/